// ### Primary
$Soft-red: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);

// ### Neutral
$Dark-brown: hsl(25, 47%, 15%);
$Medium-brown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$pale-orange: hsl(33, 100%, 98%);

$Regular: 400;
$Bold: 700;

$fs-sm:0.9rem;
$fs-md:2rem;
$fs-lg:2.2rem;